.logo-h1{
    margin-top: 15px;
    color: rgb(5, 143, 164);
    font-size: 45px;
    font-family: Piedra,sans-serif;
}
.promo-block{
    background-color: black;
    opacity: .8;
}

.header .nav-item.active .nav-item-hover:after{
    opacity: 0;
}
.header .nav-item:hover .nav-item-hover:after{
    opacity: 0;
}



.page-on-scroll .header .navbar {
    background: #f0f0f0;
    border-bottom-color: #f0f0f0;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    
  }

  .bg-color-base{
     background: #f39696 !important;
  }

  .service.bg-color-base.wow{
    background: #4981d4 !important;
  }


  .header .nav-item-child{
      ;
  }
  .header .nav-item-child:hover{
      color: #bd98ff;
  }

  .my_photo{
    width: 270px;
    height: 218px;
    position: absolute;
    top: 97px;
    left: 62px;
    
  }

  .col-sm-offset-1{
     /* margin-left: 34.333333%; */
  }

  .row{
      position: relative;
  }
  
  .mb4{
      margin-bottom: 4px;
  }