.logo-h1{
    margin-top: 15px;
    color: #98cbf3;
    font-size: 45px;
    font-family: Piedra,sans-serif;
}
.promo-block{
    background-color: black;
    opacity: .8;
}

.header .nav-item.active .nav-item-hover:after{
    opacity: 0;
}
.header .nav-item:hover .nav-item-hover:after{
    opacity: 1;
}



.page-on-scroll .header .navbar {
    background: #f0f0f0;
    border-bottom-color: #f0f0f0;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    
  }